# Redmine Plugin .gitignore

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Ruby
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Redmine specific
config/settings.yml
config/database.yml

